.title {
    flex: 1;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    cursor: pointer;
    font-size: 24px;
  }
.currency{
  width: 100px; 
  height: 40px; 
  margin-left: 15
}